*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: g;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(171, 249, 176);
}
#main1{
    overflow: hidden;
    height: 80%;
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
}
#top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25%;
    color: #fff;
    height: 60px;
    width: 100%;
    background-color: rgb(14, 138, 38);
}
.elem{
    display: flex;
    align-items: center;
    gap: 5px;
}
.box{
    padding: 5px 10px;
    font-weight: 600;
    font-size: 15px;
    color:  rgb(14, 138, 38);
    background-color: #fff;
    border-radius: 5px;
}
#bottom{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
    height: calc(100% - 60px);
    padding: 10px;
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: #fff;
    background-color: rgb(17, 126, 39);
    border-radius: 50%;  
}